<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('common/header');  %>   
    <h1>
        Name : <%= user.name %>
    </h1>
    <h2>
        age : <%= user.age %>
    </h2>
    <h3>
        email : <%= user.email %>
    </h3>
    <h4>
        contact : <%= user.contact %>
    </h4>
    <h5>
        skills : <%= user.skills %>
    </h5>


    <ul>
        <% user.skills.forEach((item)=>{ %>
            <li>
                <%= item %>
            </li>
        <% })  %>
    </ul>
</body>
</html>